
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
*{
  
    box-sizing: border-box;/*box-size help to not increse size box when put padding*/
}

.container {
  background-image: linear-gradient(to right, orange , yellow);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;

}
.mainBox {
  height: auto;
  width: 300px;
  background-color: white;
  border: 2px solid lightcoral;
  margin:20px;
  padding-bottom:10px ;
  
}
.picBox{
  height: 200px;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1621682372775-533449e550ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bW91bmF0aW5zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
 
}
.textBox{
    text-align: center;
    padding: 5px 10px;
    border-top: 3px solid lightcoral;
}
button{
    border: 2px solid orange;
    border-radius: 25px;
    padding: 10px 20px;
    color: orange;
    
}
button:hover{
    background-color: orange;
    color: white;
}

h4{
    color: grey;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
p{
    color: #0E0E0E  ;
    font-family: 'Lora', serif;
}

@media screen and (max-width: 1200px) {
  .container{
      height: 100%;
  }
  }